body {
    overflow: hidden;
    overflow-x: hidden;
}
.tupian{
    position: absolute;
    left: -5px;
    top: -5px;
}
.fanhui{
    /* 小于号 */
position: absolute;
width: 60px;
height: 60px;
left: 0%;
top: 2.54%;
}
.quxiao{
    position: absolute;
width: 297px;
height: 114px;
left: 15%;
top: 86%;
}