#phone {
    width: 400px;
    height: 800px;
    background-color: black;
    border-radius: 30px;
    margin: 50px auto;
    position: relative;
  }
  
  #screen {
    width: 360px;
    height: 640px;
    background-color: rgb(164, 76, 76);
    border-radius: 20px;
    position: absolute;
    top: 80px;
    left: 20px;
  }
 