body {
    overflow: hidden;
}

.biaoti {
    /* 卡片操作 */
    position: absolute;
    width: 169px;
    height: 55px;
    left: 0;
    top: 25px;

    color: rgb(0, 0, 0);
    font-size: 36px;
    font-weight: 400;
    letter-spacing: 0px;
    text-align: center;
}
.tubiao{
    /*图标*/
position: absolute;
width: 133px;
height: 133px;
left: 70%;
right: 0%;
top: 0%;
bottom: 0%;


background: rgb(255 , 255, 255);
}
.wodezhanghu{
    /*我的账户 */
position: absolute;
width: 378px;
height: 80px;
left: 15px;
right: 37px;
top: 126px;
bottom: 621px;


}
.yijianfankui{
    /* 组合 16 */
position: absolute;
width: 357px;
height: 72px;
left: 36px;
right: 37px;
top: 202px;
bottom: 553px;


}
.guanyuwomen{
    /* 组合 17 */
position: absolute;
width: 361px;
height: 67px;
left: 32px;
right: 37px;
top: 262px;
bottom: 498px;


}
.jianchagengxin{
/* 组合 18 */
position: absolute;
width: 370px;
height: 61px;
left: 23px;
right: 37px;
top: 318px;
bottom: 448px;




}
.yonghuxieyi{
    /* 组合 19 */
position: absolute;
width: 354px;
height: 70px;
left: 39px;
right: 37px;
top: 376px;
bottom: 381px;


}
.yinsixieyi{
    /* 组合 20 */
position: absolute;
width: 363px;
height: 67px;
left: 30px;
right: 37px;
top: 430px;
bottom: 330px;


}
.chexiaotongyiyinsizhengce{
    /* 组合 21 */
position: absolute;
width: 362px;
height: 72px;
left: 31px;
right: 37px;
top: 491px;
bottom: 264px;


}